<div class="kitten-card">
	<a href="<%= url_for(kitten_path(kitten)) %>">
		<div class="kitten-card-img" style="background-image: url(<%= card_image_url(kitten) %>)">
			<% if user_signed_in? && kitten.user_id == current_user.id %>
				<div class="icon-group text-center justify-content-between">
					<div class="icon">
						<%= app_icon "https://img.icons8.com/plasticine/25/000000/pencil.png", edit_kitten_path(kitten) %>
					</div>
					<div class="icon">
						<%= link_to image_tag('https://img.icons8.com/plasticine/25/000000/filled-trash.png'), kitten, class: "btn", role: "button", method: :delete, data: {confirm: 'Are you sure?'} %>
					</div>
				</div>
			<% end %>
		</div>
		<div class="card-body">
			<div class="kitten-name">
				<h4><%= kitten.name %></h4>
			</div>
			<div class="kitten-breed">
				<h5><%= kitten.breed %></h5>
			</div>
			<div class="kitten-price">
				<table>
					<tr>
						<th>Hourly</th>
						<td><%= hourly_rate(kitten) %></td>
					</tr>
					<tr>
						<th>Daily</th>
						<td><%= daily_rate(kitten) %></td>
					</tr>
				</table>
			</div>
		</div>
	</a>
</div>
