<%= form_with(model: kitten, local: true) do |form| %>
	
	<% if kitten.errors.any? %>
		<div id="error_explanation" class="alert alert-warning alert-dismissible fade show" role="alert" >
			<h5><%= pluralize(kitten.errors.count, "error") %> prohibited this kitten from being saved:</h5>
			<ul>
				<% kitten.errors.full_messages.each do |message| %>
					<li class="list-unstyled"><%= message %></li>
				<% end %>
			</ul>
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
	<% end %>l
  <div class="form-group row">
    <%= form.label :name, class: "col-sm-2 col-form-label"  %>
	  <div class="input-group col-sm-4 mb-3">
    <%= form.text_field :name, class: "form-control col-sm-4", placeholder: "Kitten Name" %>
	  </div>
    <%= form.label :breed, class: "col-sm-2 col-form-label"  %>
	  <div class="input-group col-sm-4 mb-3">
    <%= form.text_field :breed, class: "form-control col-sm-4", placeholder: "Kitten Breed" %>
	  </div>
  </div>
  <div class="form-group row">
    <%= form.label :description, class: "col-sm-2 col-form-label"  %>
	  <div class="input-group col-sm-4 mb-3">
    <%= form.text_area :description, class: "form-control col-sm-10" %>
	  </div>
  </div>
  <div class="form-group row">
    <%= form.label :daily_rate, class: "col-sm-2 col-form-label" %>
	  <div class="input-group col-sm-4 mb-3">
		  <div class="input-group-prepend">
			  <span class="input-group-text">$</span>
		  </div>
    <%= form.text_field :daily_rate, class: "form-control" %>
	  </div>
		<%= form.label :images, class: "col-sm-2 col-form-label"  %>
	  <div class="input-group col-sm-4 mb-3">
		  <div class="custom-file">
		<%= form.file_field :images, multiple: true, class:"custom-file-input",id:"inputGroupFile" %>
		  <label class="custom-file-label" for="inputGroupFile">Choose images.</label>
		  </div>
	  </div>
	</div>
	<% if kitten.images.attached? %>
		<%= render 'imagegallery' %>
	<% end %>
	<div class="actions">
    <%= form.submit class:"btn btn-primary btn-block col-12" %>
  </div>
<% end %>