<%= form_with(model: kitten, local: true) do |form| %>
	
	<% if kitten.errors.any? %>
		<div id="error_explanation" class="alert alert-warning alert-dismissible fade show" role="alert" >
			<h5><%= pluralize(kitten.errors.count, "error") %> prohibited this kitten from being saved:</h5>
			<ul>
				<% kitten.errors.full_messages.each do |message| %>
					<li class="list-unstyled"><%= message %></li>
				<% end %>
			</ul>
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
	<% end %>

  <div class="form-group row">
    <%= form.label :name, class: "col-sm-2 col-form-label"  %>
    <%= form.text_field :name, class: "form-control col-sm-4" %>
    <%= form.label :breed, class: "col-sm-2 col-form-label"  %>
    <%= form.text_field :breed, class: "form-control col-sm-4" %>
  </div>

  <div class="form-group row">
    <%= form.label :description, class: "col-sm-2 col-form-label"  %>
    <%= form.text_area :description, class: "form-control col-sm-10" %>
  </div>

  <div class="form-group row">
    <%= form.label :daily_rate, class: "col-sm-2 col-form-label" %>
    <%= form.text_field :daily_rate, class: "form-control col-sm-4", pattern:"^\$\d{1,3}(,\d{3})*(\.\d+)?$" %>
		<%= form.label :images, class: "col-sm-2 col-form-label"  %>
		<%= form.file_field :images, multiple: true, class: "col-sm-4 col-form-label" %>
	</div>
	
	<%= render 'imagegallery' %>
	
  <div class="actions">
    <%= form.submit class:"btn btn-primary btn-block" %>
  </div>
	

	
<% end %>
