<p id="notice"><%= notice %></p>

<p>
	<strong>Owner:</strong>
	<%= @kitten.user_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @kitten.name %>
</p>

<% if @kitten.images.attached? %>
	<% @kitten.images.each do |img| %>
		<%= image_tag img.variant(resize_to_limit: [100, 100]) %>
	<% end %>
<% else %>
	<img src="https://placekitten.com/#{rand(200..400)}/#{rand(200..400)}" />
<% end %>

<p>
  <strong>Breed:</strong>
  <%= @kitten.breed %>
</p>

<p>
  <strong>Description:</strong>
  <%= @kitten.description %>
</p>

<p>
  <strong>Hourly rate:</strong>
  <%= @kitten.hourly_rate %>
</p>

<p>
  <strong>Daily rate:</strong>
  <%= @kitten.daily_rate %>
</p>

<% if user_signed_in? && @kitten.user_id == current_user.id %>
 <%= link_to 'Edit', edit_kitten_path(@kitten) %> |
<% end %>
<%= link_to 'Back', kittens_path %>
