<p id="notice"><%= notice %></p>

<p>
	<strong>Owner:</strong>
	<%= @kitten.user.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @kitten.name %>
</p>

<div class="kitten-imgs">
<% if @kitten.images.attached? %>
	<% @kitten.images.each do |img| %>
		<%= image_tag img, class: "kitten-img" %>
	<% end %>
<% else %>
	<%= image_tag placekitten, class: "kitten-img" %>
<% end %>
</div>

<p>
  <strong>Breed:</strong>
  <%= @kitten.breed %>
</p>

<p>
  <strong>Description:</strong>
  <%= @kitten.description %>
</p>

<p>
  <strong>Hourly rate:</strong>
  <%= @kitten.hourly_rate %>
</p>

<p>
  <strong>Daily rate:</strong>
  <%= @kitten.daily_rate %>
</p>

<% if user_signed_in? && @kitten.user_id == current_user.id %>
 <%= link_to 'Edit', edit_kitten_path(@kitten) %> |
<% end %>
<%= link_to 'Back', kittens_path %>
<% if !(user_signed_in? && @kitten.user_id == current_user.id) %>
| <%=  link_to 'Request Booking', new_booking_path(@kitten)  %>
<%  end %>

<h1>Bookings</h1>
<%= render @kitten.bookings %>
<%= render 'bookings/form' %>