<% @page_title = @kitten.name %>

<section class="container kitten-details">
	<h2>Kitten Details</h2>
	<div class="row d-flex">
		<h5 class="col-sm-3">Owner</h5>
		<h6 class="col-sm-9"><%= @kitten.user.name %></h6>
		<h5 class="col-sm-3">Breed:</h5>
		<h6 class="col-sm-9"><%= @kitten.breed %></h6>
		<h5 class="col-sm-3">Daily rate</h5>
		<h6 class="col-sm-9"><%= number_to_currency(@kitten.daily_rate) %></h6>
		<h5 class="col-sm-3">Description</h5>
		<h6 class="col-sm-9"><%= @kitten.description %></h6>
	</div>
	<div class="row d-flex justify-content-around mb-3">
		<% if user_signed_in? && @kitten.user_id == current_user.id %>
			<%= link_to 'Edit', edit_kitten_path(@kitten), class:"btn btn-outline-primary" %>
		<% end %>
		<%= link_to 'Back', _back_url, class:"btn btn-outline-primary" %>
	</div>
</section> <!-- kitten-details -->

<section class="container kitten-images">
	<h2>Kitten pictures</h2>
<%= render 'imagegallery' %>
</section>

<section class="container kitten-bookings">
	<h2>Bookings</h2>
	<% unless @bookings_in == false %>
	<% @bookings_in.each do |booking| %>
		<%= render "bookings/booking-in", booking: booking %>
	<% end %>
		<% end %>
	<% unless @bookings_out == false %>
	<% @bookings_out.each do |booking| %>
		<%= render "bookings/booking-out" , booking: booking %>
	<% end %>
		<% end %>
</section>

<section class="container kitten-requests">
<% unless user_signed_in? && @kitten.user_id == current_user.id %>
		<h2>Requests</h2>
	<%= render 'bookings/form' %>
<% end %>
</section>
