<% if @bookings_in.exists? %>
	<div class="booking-cards">
		<% @bookings_in.each do |booking| %>
			<div class="card border-primary booking-card">
				<a href="<%= url_for(kitten_path(booking.kitten.id)) %>">
					<div class="card-header d-flex justify-content-between">
						<h3><%= booking.kitten.name %></h3>
						<h4><%= number_to_currency(booking.total) %></h4>
					</div>
			</a>
					<div class="card-body">
						<div class="card-text d-flex justify-content-between text-white">
							<p>Requested By</p>
							<p><%= booking.user.name %></p>
						</div>
						<div class="card-text d-flex justify-content-between text-white">
							<p>Length of Booking</p>
							<p><%= booking.length_human %></p>
						</div>
						<div class="card-text d-flex justify-content-between text-white">
							<p>Start Date</p>
							<p><%= booking.start_time.strftime("%A %e %b %Y") %></p>
						</div>
						<div class="card-text d-flex justify-content-between text-white">
							<p>End Date</p>
							<p><%= booking.end_time.strftime("%A %e %b %Y") %></p>
						</div>
						<%= render 'bookings/booking-in-flags', booking: booking %>
		
					</div>
			</div>
		<% end %>
	</div>
<% else %>
	<h6>There are no booking requests for you yet.</h6>
<% end %>