<%= form_with(model: [ @kitten, @kitten.bookings.build ], local: true) do |form| %>
  <div class="form-group row">
    <%= form.label 'Start date', class: "col-sm-2 col-form-label" %>
    <%= form.date_field :start_time, type:'date', class: "form-control col-sm-4" %>
    <%= form.label 'End date', class: "col-sm-2 col-form-label" %>
    <%= form.date_field :end_time, type:'date', class: "form-control col-sm-4" %>
  </div>
  <div class="row d-flex justify-content-center">
    <%= form.submit "Create booking", class: "btn btn-outline-primary" %>
  </div>
<% end %>