<p id="notice"><%= notice %></p>

<%= month_calendar events: @bookings do |date, bookings| %>
	<%= date %>
	
	<% bookings.each do |booking| %>
		<div>
			<%= booking.kitten_id %>
		</div>
	<% end %>
<% end %>

<h1>Bookings</h1>

<table>
  <thead>
    <tr>
      <th>Kitten</th>
      <th>Title</th>
      <th>Start time</th>
      <th>End time</th>
      <th>Accepted</th>
      <th>Total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td><%= booking.kitten_id %></td>
        <td><%= booking.title %></td>
        <td><%= booking.start_time %></td>
        <td><%= booking.end_time %></td>
        <td><%= booking.accepted %></td>
        <td><%= booking.total %></td>
        <td><%= link_to 'Show', booking %></td>
        <td><%= link_to 'Edit', edit_booking_path(booking) %></td>
        <td><%= link_to 'Destroy', booking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Booking', new_booking_path %>
