<!--TODO Add user nav to navbar-->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<a class="navbar-brand" href="#">kitnappd</a>
	
	<div class="collapse navbar-collapse" id="navbarToggler">
		<ul class="navbar-nav nav-justified">
			
			<li class="nav-item">
				<%= link_to 'Home', page_home_path, class: "nav-link btn" %>
			</li>
			<li class="nav-item">
				<%= link_to 'About', page_about_path, class: "nav-link btn" %>
			</li>
			<li class="nav-item">
				<%= link_to 'Kittens', kittens_path, class: "nav-link btn" %>
			</li>

	
			<% if user_signed_in? %>
				<li class="nav-item">
					<%= link_to 'Edit profile', edit_user_registration_path, class: 'navbar-link btn' %>
				</li>
				<li class="nav-item">
					<%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'navbar-link btn' %>
				</li>
			<% else %>
				<li class="nav-item">
					<%= link_to 'Register', new_user_registration_path, class: 'navbar-link btn' %>
				</li>
				<li class="nav-item">
					<%= link_to 'Login', new_user_session_path, class: 'navbar-link btn' %>
				</li>
			<% end %>
		</ul>
		<!--		TODO Search function in Nav bar-->
		<!--		<form class="form-inline my-2 my-lg-0">-->
		<!--			<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
		<!--			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
		<!--		</form>-->
	</div>
</nav>