<!DOCTYPE html>
<html lang="en">
<head>
	<title>kitnappd<% if defined?(@page_title) %> - <%= @page_title %><% end %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Come rent a kitty today!">
	<meta name="keywords" content="kitten, rental, cute, kitnappd">
	<meta name="author" content="© Bianca Wilkinson (<%= Date.today.year %>)">
	<%= csrf_meta_tags %>
	<%= csp_meta_tag %>
	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<header>
	<%= render 'layouts/nav' %>
</header>
<main>
	<%= render 'layouts/alerts' %>
	<% if defined?(@page_title) %>
		<section class="app-page-title">
			<h1 class="text-center"><%= @page_title %></h1>
		</section>
	<% end %>
	<%= yield %>
</main>
<footer class="footer">
	<%= render 'layouts/footer' %>
</footer>
</body>
</html>
